<!-- wp:group {"className":"ecom-page ecom-standard-page","layout":{"type":"default"}} -->
<div class="wp-block-group ecom-page ecom-standard-page">

    <!-- wp:template-part {"slug":"ecom-header","theme":"ecom","tagName":"header"} /-->

    <!-- wp:group {"tagName":"main","className":"ecom-standard-page__main","style":{"spacing":{"padding":{"top":"var:preset|spacing|section","right":"var:preset|spacing|page-gutter","bottom":"var:preset|spacing|section","left":"var:preset|spacing|page-gutter"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group ecom-standard-page__main"
        style="padding-top:var(--wp--preset--spacing--section);padding-right:var(--wp--preset--spacing--page-gutter);padding-bottom:var(--wp--preset--spacing--section);padding-left:var(--wp--preset--spacing--page-gutter)">

        <!-- wp:group {"align":"wide","className":"ecom-standard-page__header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|large"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group alignwide ecom-standard-page__header"
            style="margin-bottom:var(--wp--preset--spacing--large)">

            <!-- wp:post-title {"level":1,"className":"ecom-standard-page__title"} /-->

        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"ecom-standard-page__content","layout":{"type":"constrained"}} -->
        <div class="wp-block-group ecom-standard-page__content">

            <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

        </div>
        <!-- /wp:group -->

    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"ecom-footer","theme":"ecom","tagName":"footer"} /-->

</div>
<!-- /wp:group -->